*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #d4af37;
    --secondary-color: #2c3e50; 
    --accent-color: #fff; 
    --text-color: #333;
    --light-bg: #f8f9fa; /* Light Gray */ 
    --shadow-color: rgba(0,0,0,0.1);
    --dark-bg: #1a1a1a;
}

body{
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}

h1, h2, h3, h4{
    font-weight: 600;
}

/* Navigation */
.navbar{
    background-color: rgba(0,0,0,0.8);
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.navbar-brand{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color)!important;
}

.nav-link{
    color: white!important;
    font-weight: 500;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

.nav-link:hover{
    color: var(--primary-color)!important;    
}

/* hero section */
.hero{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0,0,0,0.8)), 
    url("hero.jpg"), 
    center/cover, no-repeat ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content{
    padding: 2rem;
}

.hero h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

